bin/*

!bin/edit-tmux-pane-output
!bin/editor-git
!bin/nvr
!bin/slack-close
!bin/slack-open
!bin/tmux-fzf-session

config/.jira
config/exercism
config/fish/fish_variables
config/fish/secrets.fish
config/gcloud
config/gh
config/github-copilot
config/htop
config/lnav
config/massren/profile.sqlite
config/obsidian/plugins
config/obsidian/themes
config/obsidian/workspace.json
config/qBittorrent
config/raycast
config/yarn
config/zed/prompts
config/zsh/secrets.zsh
