[alias]
  a = add
  c  = commit -m
  l = "log --pretty=format:'%C(yellow)%h%Creset %C(white)%s %C(dim #111111)%an on %cd%Creset' --date=format:\"%b %d, '%y\""
  co = checkout
  ac = commit -am
  br = branch
  pop = stash pop
  dc = reset HEAD^
  dd = reset --hard HEAD
  rs = checkout --
  delete = reset --hard HEAD~
  ra = commit --amend --no-edit
  rc = rebase --continue
[blame]
  date = human
[diff]
  tool = vscode
[merge]
  conflictstyle = diff3
[core]
  mergeoptions = --no-edit
[credential]
	helper = store
[user]
	name = imAliAzhar
	email = ali.azhar@finn.auto
