!.local/bin
**/.DS_Store
**/node_modules
.CFUserTextEncoding
.Trash
.android
.app-store
.bun
.bundle
.cache
.cargo
.cbq_history
.claude*
.cocoapods
.codemod
.config/.jira
.config/exercism
.config/fish/secrets.fish
.config/gcloud
.config/gh
.config/github-copilot
.config/htop
.config/lnav
.config/massren/profile.sqlite
.config/obsidian/plugins
.config/obsidian/themes
.config/obsidian/workspace.json
.config/qBittorrent
.config/raycast
.config/yarn
.config/zed/prompts
.config/zsh/secrets.zsh
.cups
.cursor
.cursor-tutor
.degit
.docker
.doom.d
.dotfiles
.emacs.d
.emulator_console_auth_token
.expo
.fastlane
.fxrc
.gem
.git-credentials
.github
.gk
.gradle
.jenkins
.jenkins_credentials
.lesshst
.local/*
.luarocks
.m2
.maestro
.mitmproxy
.mono
.netrc
.node_repl_history
.npm
.npmrc
.pnpm-state
.psql_history
.python_history
.rbenv
.rest-client
.rubies
.rustup
.ssh
.stack
.swiftpm
.terminfo
.viminfo
.vscode-react-native
.vscode/argv.json
.vscode/extensions
.yarn
.yarnrc
.yarnrc.yml
.zshDDPMenv
.zsh_history
.zsh_sessions
Applications
Books
Courses
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
My Drive
Pictures
Postman
Projects
Public
Sites
Slides
Studio
Videos
go
