[alias]
  a = add
  c  = commit -m
  l = "log --pretty=format:'%C(yellow)%h%Creset %C(white)%s %C(dim #6e738d)%an %ar %Creset' --date=format:\"%b %d, '%y\""
  co = checkout
  ac = commit -am
  br = branch
  pop = stash pop
  dc = reset HEAD^
  dd = reset --hard HEAD
  rs = checkout --
  delete = reset --hard HEAD~
  ra = commit --amend --no-edit
  rc = rebase --continue
[blame]
  date = human
[merge]
  conflictstyle = diff3
[pull]
	rebase = true
[core]
  pager = delta
  mergeoptions = --no-edit
[credential]
	helper = store
[user]
	name = imAliAzhar
	email = aliazharthegreat@gmail.com
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = false
	features = lemonade

[diff]
    colorMoved = default

[include]
    path = ~/.config/delta/themes.gitconfig
