Applications
Books
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
My Drive
Pictures
Postman
Projects
Public
Videos
.android
.bun
.bundle
.gem
.cache
.cargo
.cocoapods
.config/exercism
.config/gh
.config/obsidian/plugins
.config/obsidian/themes
.config/obsidian/workspace.json
.degit
.docker
.dotfiles
.expo
.github
.git-credentials
.local/*
!.local/bin
.swiftpm
.npm
.node_repl_history
.psql_history
.pnpm-state
.rest-client
.rustup
.Trash
.vscode/extensions
.vscode/argv.json
.vscode-react-native
.yarn
.zsh_sessions
.fxrc
.lesshst
.viminfo
.yarnrc
**/.DS_Store
**/node_modules
