h1 {
  background: radial-gradient(
    circle,
    rgba(198, 255, 221, 1) 0%,
    rgba(255, 224, 155, 1) 53%,
    rgba(255, 200, 202, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: radial-gradient(
    circle,
    rgba(255, 239, 186, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
