<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.clocktopus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09D1AC0B-3DE6-4B1F-8DD9-0D314AA05DFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>601E87D2-5A61-489F-8FF8-43EF8AB6EBAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>601E87D2-5A61-489F-8FF8-43EF8AB6EBAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E5BA2B-CA9C-44AE-8655-687ADBE1881E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7113A3E3-2DA0-4B76-9752-F6C3A9BB15DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09D1AC0B-3DE6-4B1F-8DD9-0D314AA05DFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BF20A0B8-C958-4F60-9100-07BE7C14E955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7113A3E3-2DA0-4B76-9752-F6C3A9BB15DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7F078C0-9EFE-4E6E-8DAD-99AD1930D74E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7113A3E3-2DA0-4B76-9752-F6C3A9BB15DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ali A</string>
	<key>description</key>
	<string>Ticket selection and markdown-based work logging.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clocktopus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>clocktopus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>BF20A0B8-C958-4F60-9100-07BE7C14E955</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>../../../../../../Projects/clocktopus/log.ts</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63E5BA2B-CA9C-44AE-8655-687ADBE1881E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clocktopus</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching your tickets...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>../../../../../../Projects/clocktopus/alfred_filter.ts</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a ticket to log time for</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7113A3E3-2DA0-4B76-9752-F6C3A9BB15DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter log for ticket</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>601E87D2-5A61-489F-8FF8-43EF8AB6EBAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ticket</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>09D1AC0B-3DE6-4B1F-8DD9-0D314AA05DFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>jl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log time for ticket</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F7F078C0-9EFE-4E6E-8DAD-99AD1930D74E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09D1AC0B-3DE6-4B1F-8DD9-0D314AA05DFA</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>601E87D2-5A61-489F-8FF8-43EF8AB6EBAA</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>63E5BA2B-CA9C-44AE-8655-687ADBE1881E</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7113A3E3-2DA0-4B76-9752-F6C3A9BB15DC</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>BF20A0B8-C958-4F60-9100-07BE7C14E955</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>F7F078C0-9EFE-4E6E-8DAD-99AD1930D74E</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
